/bitrix/*
/upload/
.idea
/store
/search
/personal
/news
/login
/include
/images
/catalog
/bitrix
/auth
/about
/.access.php
/.bottom.menu.php
/.gitignore
/.htaccess
/.left.menu_ext.php
/.personal.menu.php
/.section.php
/.top.menu.php
/404.php
/favicon.ico
/index.php
/sect_bottom.php
/sect_sidebar.php
/urlrewrite.php
